---
import { type CollectionEntry, getCollection } from "astro:content";
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro";
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";

// Create the static SDK pages
export async function getStaticPaths() {
  const sdkPages = await getCollection("sdk");
  return sdkPages.map((page) => ({
    params: { slug: page.slug },
    props: page,
  }));
}

// Get the requested SDK page
type Props = CollectionEntry<"sdk">;
const sdkPage = Astro.props;
const { title, summary } = sdkPage.data;
---

<PageLayout title={title} description={summary}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={sdkPage} />
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={sdkPage} />
    </div>
  </BottomLayout>
</PageLayout>
